/*Fondo*/
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #00000000;
    overflow: hidden;
}

.background span {
    position: fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 24s linear infinite;
}

.background span:nth-child(0) {
    background: #05258fa6;
    left: 59%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 1s;
}

.background span:nth-child(1) {
    background: #5dbbf5ac;
    left: 85%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 1s;
}

.background span:nth-child(2) {
    background: #4cefa6a7;
    left: 73%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 5s;
}

.background span:nth-child(3) {
    background: #05258fa6;
    left: 80%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 15s;
}

.background span:nth-child(4) {
    background: #5dbbf5ac;
    left: 66%;
    width: 213px;
    height: 213px;
    bottom: -213px;
    animation-delay: 18s;
}

.background span:nth-child(5) {
    background: #4cefa6a7;
    left: 77%;
    width: 274px;
    height: 274px;
    bottom: -274px;
    animation-delay: 7s;
}

.background span:nth-child(6) {
    background: #05258fa6;
    left: 3%;
    width: 235px;
    height: 235px;
    bottom: -235px;
    animation-delay: 22s;
}

.background span:nth-child(7) {
    background: #5dbbf5ac;
    left: 51%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 26s;
}

.background span:nth-child(8) {
    background: #4cefa6a7;
    left: 60%;
    width: 297px;
    height: 297px;
    bottom: -297px;
    animation-delay: 14s;
}

.background span:nth-child(9) {
    background: #05258fa6;
    left: 70%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 21s;
}

.background span:nth-child(10) {
    background: #5dbbf5ac;
    left: 51%;
    width: 191px;
    height: 191px;
    bottom: -191px;
    animation-delay: 41s;
}

.background span:nth-child(11) {
    background: #4cefa6a7;
    left: 71%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 36s;
}

.background span:nth-child(12) {
    background: #05258fa6;
    left: 21%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 16s;
}

.background span:nth-child(13) {
    background: #5dbbf5ac;
    left: 41%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 34s;
}

.background span:nth-child(14) {
    background: #4cefa6a7;
    left: 72%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 6s;
}

/**/
.contenido {
    max-width: 1100px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    position: relative;
}

.general {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-align-last: center;
}

h1 {

    font-size: 32px;
}

.Mostrador {
    width: 100%;
    transition: .5s ease;
}

.Mostrador .fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.Mostrador .fila .item {
    /*CAJA ajustable de COLOR*/
    max-width: 410px;
    padding: 10px;
    height: 280px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s;
    display: block;
    /* Hacer que la imagen sea un bloque para permitir el centrado */
    margin: 0 auto;
}

.Mostrador .fila .item:hover {
    background-color: rgba(19, 178, 141, 0.89);
    padding: 5px;
}

.Mostrador .fila .item img {
    /*ajustes del icono*/
    width: 200px;
    margin: 30px 50;
    border-radius: 20px;


}

img:hover {
    /*ajustes para la transicion de los iconos*/
    transform: scale(0.95);
    transition: .3s;

}

.Mostrador .fila .item .descripcion {
    /*ajustes del texto*/
    color: white;
    font-weight: bold;
    text-align: center;
}


.institucion {
    width: 500px;
}

.contenedor {
    margin-top: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    font-size: 20px;
    font-weight: 700;
    width: 20px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: #444;
    box-shadow: 0 0 0px 1px;
    transition: .5s;
}

@media (max-width: 480px) {
    .contenedor {
        width: 90%;
        /* Reducir el ancho máximo en pantallas medianas */
    }

    .Mostrador .fila {
        flex-direction: column;
        /* Cambiar a diseño de columna en pantallas medianas */
    }

    .Mostrador .fila .item {
        margin-bottom: 30px;
        /* Agrega un espacio entre los elementos en dispositivos móviles */
    }
    .item {
        width: 100%;
        height: auto;
    }

    .general {
        text-align: center;
    }
}